@font-face {
    font-family: 'dancing-script';
    src: url('../../public/font-text/dancing-script/DancingScript-VariableFont_wght.ttf');
}

.font-family-dancing-script {
    font-family: 'dancing-script';
}